*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#111;
}

/* HEADER */

header{
    width:100%;
    padding:20px 50px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#e60023;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#e60023;
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px 50px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    color:#666;
    font-size:18px;
    margin-bottom:30px;
}

.search-bar{
    display:flex;
    justify-content:center;
    gap:10px;
}

.search-bar input{
    width:320px;
    padding:15px;
    border:none;
    border-radius:30px;
    outline:none;
    font-size:16px;
}

.search-bar button{
    padding:15px 25px;
    border:none;
    background:#e60023;
    color:white;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.search-bar button:hover{
    background:#b8001c;
}

/* GALLERY */

.gallery{
    columns:4 250px;
    gap:15px;
    padding:20px 50px 50px;
}

.card{
    position:relative;
    margin-bottom:15px;
    overflow:hidden;
    border-radius:20px;
    cursor:pointer;
}

.card img{
    width:100%;
    display:block;
    border-radius:20px;
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.05);
}

.overlay{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px;
    background:linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    color:white;
}

.overlay h3{
    font-size:22px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:white;
    margin-top:20px;
    color:#777;
}

/* RESPONSIVE */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:38px;
    }

    .search-bar{
        flex-direction:column;
        align-items:center;
    }

    .search-bar input{
        width:90%;
    }

    .gallery{
        padding:20px;
    }
}